body {
  background-color: rgba(255, 255, 255, 0.815);
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.upper {
  position: absolute;
  margin-bottom: 100px;
}

.top {
  position: relative;
  margin: 0 auto;
  height: 40vh;
  width: 100vw;
  display: grid;
  justify-content: center;
  place-items: center;
  align-content: center;
  color: rgb(117, 115, 115);
  background-color: RGB(107, 193, 226);
}
#cimg {
  position: relative;
  top: -0.5vh;
  z-index: -1;
  width: 100vw;
}

.id {
  font-family: cursive;
  font-size: 2rem;
}

.pimg {
  position: relative;
  height: 112px;
  padding-top: 10px;
}

.name {
  color: rgb(250, 243, 243);
  font-size: 60px;
  padding-left: 15px;
}

ul {
  list-style-type: none;
}

.about {
  position: relative;
  margin-top: -8vh;
}

#about {
  background-color: rgba(231, 229, 224, 0.027);
  padding: 7px;
  font-size: 17px;
}

.con {
  position: relative;
  margin-top: 6vw;
}

.skillsection {
  position: relative;
  bottom: 10px;
}

#section02 {
  text-align: center;
}

h2 {
  font-family: Comic Sans Ms;
}

p {
  font-family: Candara;
  line-height: 30px;
  color: rgb(80, 78, 78);
}

.btn-light {
  background-color: transparent;
}

.btn-light:hover {
  background-color: rgba(0, 162, 255, 0.301);
}

.card-header {
  background-color: #7ac4f5;
}

/* .card {
  margin-top: 25px;
  border-radius: 5px;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
} */

.card-body {
  background-color: #feffff71;
}

.animation {
  position: relative;
  overflow: hidden;
}

.plane {
  position: relative;
  height: 105px;
  top: 30%;
}

footer {
  background-color: #6bc1e2;
  margin-top: 40px;
}

.skillsection {
  margin-top: 45px;
  margin-bottom: 50px;
}

.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  margin-top: 25px;
  width: 100%;
  background: #eee;
  height: 20px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}

.skillbar-title {
  position: absolute;
  top: 0px;
  left: 0;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  background: #6adcfa;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 20px;
  line-height: 20px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-bar {
  height: 20px;
  width: 0px;
  background: #6adcfa;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  float: left;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 15px;
  line-height: 15px;
  color: #444;
  color: rgba(0, 0, 0, 0.4);
}

/* top button */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #b7e046;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #d4f181;
}

#fh1 {
  text-align: center;
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
}

#cv {
  text-align: center;
  margin-bottom: 80px;
}

.cv-btn {
  height: 50px;
  width: 250px;
  font-size: 23px;
  background-color: transparent;
}
.foot {
  width: 100%;
  border: 3px rgba(30, 160, 235, 0) solid;
  border-radius: 7px;
  text-align: center;
}
#about-svg {
  height: 140px;
}
#con-svg {
  height: 140px;
}
#skillsvg {
  position: relative;
  height: 130px;
  margin-top: 10vw;
}
#prosvg {
  position: relative;
  height: 190px;
  margin-top: 6vw;
}
#cersvg {
  position: relative;
  height: 190px;
  margin-top: 9vw;
}
.ft {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

.fa-pinterest:before {
  content: "\f0d2";
  font-size: 40px;
  color: red;
}

.fa-behance-square:before {
  content: "\f1b5";
  font-size: 40px;
  color: #53a8da;
}

.img-fluid {
  cursor: zoom-in;
}

#cv-img {
  position: relative;
  height: 290px;
  margin-top: 6vw;
}

.gallery-row {
  margin-top: 22px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 0 8px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 55px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: zoom-in;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-title {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

.button {
  background-color: #d3f3ff;
  border: none;
  color: rgb(124, 121, 121);
  padding: 6px 18px;
  text-align: center;
  font-size: 12px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  outline: none;
  /* box-shadow: 2px 2px 8px 0 rgba(83, 83, 83, 0.25),
    -0px -0px 4px 0 rgba(255, 255, 255, 0.3); */
}
.button:hover {
  opacity: 0.6;
  border: none;
  cursor: initial;
}

button:focus {
  outline: 0 !important;
}
.skill-btns {
  float: left;
}
.ux {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ux-card {
  width: 300px;
  height: 400px;
  margin-top: 5px;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  transition: 0.3s;
}
.ux-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* .ux-button {
  width: 150px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
} */

#uisvg {
  position: relative;
  height: 190px;
  margin-top: 5vw;
}
.cer-div {
  box-shadow: 2px 2px 8px 0 rgba(83, 83, 83, 0.25),
    -0px -0px 4px 0 rgba(255, 255, 255, 0.3);
}
.project-card {
  margin-top: 25px;
  border-radius: 5px;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  transition: 0.1s;
}
.project-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 500px) /* Mobile */ {
  .plane {
    position: relative;
    height: 85px;
    top: 30%;
  }
  .id {
    font-size: 3.3vw;
  }
  #con-svg,
  #cv-img,
  #about-svg {
    display: none;
  }
}

@media screen and (max-width: 1200px) /* Mobile */ {
  .plane {
    position: relative;
    height: 85px;
    top: 30%;
  }
  .id {
    font-size: 3.3vw;
  }
  #con-svg,
  #cv-img,
  #about-svg {
    display: none;
  }
}
