html,body{
    background-color: rgba(255, 255, 255, 0.815);
    overflow-x: hidden;
}
/* .head{
    position: relative;
    height: 30vh;
    width: 100vw;
    padding-top: 10px;
    scroll-padding-bottom: 10px;
    text-align: left;
    background-image: url("/img/himg.svg");
    background-repeat: no-repeat;  
    background-color: RGB(107, 193, 226);
    justify-content: center;
    align-items: center;
    place-items: center; 
    display: flex;
    font-family: Arial;
    font-size: 1.5em;
} */

.top{
    position: relative;
    margin:0 auto;
    height:40vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    place-items: center;
    align-content: center;
    color: rgb(124, 120, 120);
    background-color: RGB(107, 193, 226);
}
.id{
    font-family: cursive;
    font-size: 2.5vw;
}
.cimg{
    position: absolute;
    width: 100vw;
    margin-top: -5px;
    margin-left: 0px;
}
.pimg{
    position: relative;
    height: 110px;
    padding-top: 10px;
}

.name{
    color: rgb(250, 243, 243);
    font-size: 60px;
    padding-left: 15px;
}
ul {
    list-style-type: none;
}
.about{ 
    margin-top: 24vw;
}
#about{
    background-color: rgba(231, 229, 224, 0.027);
    padding: 7px;
    font-size: 17px;
}
#section02{
    text-align: center;
}
p{
    font-family: Courier;
}
.btn-light{
    background-color: transparent;
}
.btn-light:hover{
    background-color: rgba(0, 162, 255, 0.301);
}
.card-header{
    background-color: rgba(63, 189, 189, 0.596);
}
.card{
    margin-top: 25px;
    border-radius: 20px;
}
.animation{
    position: relative;
    overflow: hidden;
}
.plane{
    position: relative;
    height: 90px;
    top: 30%;
}
footer{
    height: 20px;
    background-color: rgba(63, 189, 189, 0.596);
    margin-top: 20px;
}

/* #skill { 
	list-style: none;
	font: 2px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	width: 80vw;
	margin: 50px ;
	position: relative;
	line-height: 2em;
	padding: 30px 0;
}

#skill li { 
	margin-bottom:50px; 
	background:#e9e5e2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ddd9), to(#e9e5e2));
	background-image: -webkit-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -moz-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -ms-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -o-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: linear-gradient(top, #e1ddd9, #e9e5e2);  
	height:20px; 
	border-radius:10px; 
	-moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
	-webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
	box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	  
}

#skill li h3 { 
    font-size: 12px;
	position:relative; 
	top:-25px;
}

.bar { 
    height:10px;
     
	margin:3px 2px;  
	position:absolute;
	border-radius:10px;
	-moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
	-webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;	 
	box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;		
}

.graphic-design {
	width:100%; 
	-moz-animation:graphic-design 2s ease-out;
	-webkit-animation:graphic-design 2s ease-out;
	background-color: #f674a4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f674a4), to(#e06995));
	background-image: -webkit-linear-gradient(top, #f674a4, #e06995);
	background-image: -moz-linear-gradient(top, #f674a4, #e06995);
	background-image: -ms-linear-gradient(top, #f674a4, #e06995);
	background-image: -o-linear-gradient(top, #f674a4, #e06995);
	background-image: linear-gradient(top, #f674a4, #e06995);
}

.html-css {
    height: 10px;
	width:60vw;
	-moz-animation:html-css 2s ease-out;
	-webkit-animation:html-css 2s ease-out;
	background-color: #f0bb4b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f0bb4b), to(#d9aa44));
	background-image: -webkit-linear-gradient(top, #f0bb4b, #d9aa44);
	background-image: -moz-linear-gradient(top, #f0bb4b, #d9aa44);
	background-image: -ms-linear-gradient(top, #f0bb4b, #d9aa44);
	background-image: -o-linear-gradient(top, #f0bb4b, #d9aa44);
	background-image: linear-gradient(top, #f0bb4b, #d9aa44);
}

.jquery {
	width:65%;
	-moz-animation:jquery 2s ease-out;
	-webkit-animation:jquery 2s ease-out;
	background-color: #a1ce5b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a1ce5b), to(#91ba52));
	background-image: -webkit-linear-gradient(top, #a1ce5b, #91ba52);
	background-image: -moz-linear-gradient(top, #a1ce5b, #91ba52);
	background-image: -ms-linear-gradient(top, #a1ce5b, #91ba52);
	background-image: -o-linear-gradient(top, #a1ce5b, #91ba52);
	background-image: linear-gradient(top, #a1ce5b, #91ba52);
}

.wordpress {
	width:80%;
	-moz-animation:wordpress 2s ease-out;
	-webkit-animation:wordpress 2s ease-out;
	background-color: #66b3cc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#66b3cc), to(#5da3ba));
	background-image: -webkit-linear-gradient(top, #66b3cc, #5da3ba);
	background-image: -moz-linear-gradient(top, #66b3cc, #5da3ba);
	background-image: -ms-linear-gradient(top, #66b3cc, #5da3ba);
	background-image: -o-linear-gradient(top, #66b3cc, #5da3ba);
	background-image: linear-gradient(top, #66b3cc, #5da3ba)	
}

.skillsection{
    margin: 20px;
}

@-moz-keyframes graphic-design {0%  { width:0px;} 100%{ width:100%;}  }
@-moz-keyframes html-css        { 0%  { width:0px;} 100%{ width:90%;}  }
@-moz-keyframes jquery      { 0%  { width:0px;} 100%{ width:65%;}  }
@-moz-keyframes wordpress   { 0%  { width:0px;} 100%{ width:80%;}  }

@-webkit-keyframes graphic-design       { 0%  { width:0px;} 100%{ width:100%;}  }
@-webkit-keyframes html-css        { 0%  { width:0px;} 100%{ width:90%;}  }
@-webkit-keyframes jquery      { 0%  { width:0px;} 100%{ width:65%;}  } */


.skillsection{
    margin-top: 60px;
    margin-bottom: 100px;

}

.skillbar {
    position:relative;
    display:block;
    margin-bottom:15px;
    margin-top: 25px;
    width:100%;
    background:#eee;
    height:20px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}
.skillbar-title {
    position:absolute;
    top:0px;
    left:0;
    font-weight:bold;
    font-size:13px;
    color:#fff;
    background:#6adcfa;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-title span {
    display:block;
    background:rgba(0, 0, 0, 0.1);
    padding:0 20px;
    height:20px;
    line-height:20px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
.skillbar-bar {
    height:20px;
    width:0px;
    background:#6adcfa;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    float: left;
    }
    
    /* .containers {
        min-height: 100%;
          height: 100vh;
    
    
    } */
    .skill-bar-percent {
        position:absolute;
        right:10px;
        top:0;
        font-size:11px;
        height:15px;
        line-height:15px;
        color:#444;
        color:rgba(0, 0, 0, 0.4);
    }