@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@1,300&display=swap"); */

body {
  background-color: rgba(255, 255, 255, 0.815);
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.upper {
  position: absolute;
  margin-bottom: 100px;
}

.top {
  position: relative;
  margin: 0 auto;
  height: 40vh;
  width: 100vw;
  display: grid;
  justify-content: center;
  place-items: center;
  align-content: center;
  color: rgb(138, 138, 138);
  background-color: RGB(107, 193, 226);
}
#cimg {
  position: relative;
  top: -0.5vh;
  z-index: -1;
  width: 100vw;
}

.id {
  font-family: "Averia Sans Libre", cursive;
  font-weight: ;
  font-size: 2.2rem;
  color: #c6f6ff;
}

.pimg {
  position: relative;
  width: 120px;
  padding-top: 10px;
  margin-bottom: 10px;
  border: 3px solid white;
  border-radius: 100%;
  /* border: 1px solid white; */
  /* border-radius: 0px 40px 15px 30px; */
  background: #ffffff;
}

.name {
  color: rgb(250, 243, 243);
  font-size: 3.8rem;
  font-weight: bold;
  padding-left: 15px;
}

ul {
  list-style-type: none;
}

.about {
  position: relative;
  margin-top: -7vh;
}

#about {
  background-color: rgba(231, 229, 224, 0.027);
  padding: 7px;
  font-size: 17px;
}

.con {
  position: relative;
  margin-top: 6vw;
}

.skillsection {
  position: relative;
  bottom: 10px;
}

#section02 {
  text-align: center;
}

/* h2 {
  font-family: Comic Sans Ms;
} */

p {
  /* font-family: Candara; */
  line-height: 30px;
  color: rgb(80, 78, 78);
}

.btn-light {
  background-color: transparent;
}

.btn-light:hover {
  background-color: rgba(0, 162, 255, 0.301);
}

.card-header {
  background-color: #7ac4f5;
}

/* .card {
  margin-top: 25px;
  border-radius: 5px;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
} */

.card-body {
  background-color: #feffff71;
}

.animation {
  position: relative;
  overflow: hidden;
}

.plane {
  position: relative;
  height: 105px;
  top: 30%;
}

footer {
  background-color: #6bc1e2;
  margin-top: 40px;
}

.skillsection {
  margin-top: 45px;
  margin-bottom: 50px;
}

/* top button */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #b7e046;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #d4f181;
}

#fh1 {
  text-align: center;
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
}

#cv {
  text-align: center;
  margin-bottom: 80px;
}

.cv-btn {
  height: 50px;
  width: 250px;
  font-size: 23px;
  background-color: transparent;
}
.foot {
  width: 100%;
  border: 3px rgba(30, 160, 235, 0) solid;
  border-radius: 7px;
  text-align: center;
}
#about-svg {
  height: 140px;
}
#con-svg {
  height: 140px;
}
#skillsvg {
  position: relative;
  height: 130px;
  margin-top: 10vw;
}
#prosvg {
  position: relative;
  height: 190px;
  margin-top: 6vw;
}
#cersvg {
  position: relative;
  height: 190px;
  margin-top: 9vw;
}
.ft {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

.fa-pinterest:before {
  content: "\f0d2";
  font-size: 40px;
  color: red;
}

.fa-behance-square:before {
  content: "\f1b5";
  font-size: 40px;
  color: #53a8da;
}

.img-fluid {
  cursor: zoom-in;
}

#cv-img {
  position: relative;
  height: 290px;
  margin-top: 6vw;
}

.gallery-row {
  margin-top: 22px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 0 8px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 55px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: fixed;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: zoom-in;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-title {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

.button {
  background-color: #d3f3ff;
  border: none;
  color: rgb(124, 121, 121);
  padding: 6px 18px;
  text-align: center;
  font-size: 12px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  outline: none;
  /* box-shadow: 2px 2px 8px 0 rgba(83, 83, 83, 0.25),
    -0px -0px 4px 0 rgba(255, 255, 255, 0.3); */
}
.button:hover {
  opacity: 0.6;
  border: none;
  cursor: initial;
}

button:focus {
  outline: 0 !important;
}
.skill-btns {
  float: left;
}
.ux {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ux-card {
  width: 300px;
  height: 420px;
  margin-top: 5px;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  transition: 0.3s;
}
.ux-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#uisvg {
  position: relative;
  height: 190px;
  margin-top: 5vw;
}
.cer-div {
  box-shadow: 2px 2px 8px 0 rgba(83, 83, 83, 0.25),
    -0px -0px 4px 0 rgba(255, 255, 255, 0.3);
}
.project-card {
  margin-top: 25px;
  border-radius: 5px;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  transition: 0.1s;
}
.project-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form {
  display: flex;
  flex-direction: column;
}

/* Category */
.category {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category-div {
  height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 7px;
  grid-template-areas:
    "box1 box1 box2"
    "box1 box1 box3"
    "box4 box5 box3";
}

.box1 {
  grid-area: box1;
}
/* .box2 {
  grid-area: box2;
} */
.box3 {
  grid-area: box3;
}
.box4 {
  grid-area: box4;
}
.box5 {
  grid-area: box5;
}

.category-item-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  transition: 0.1s;
}

.category-item-div img {
  height: 100%;
  width: 100%;
  transition: 0.2s;
}

.category-item-div img:hover {
  opacity: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #4fabe0ea;
}

.category-item-div:hover .overlay {
  opacity: 1;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text p {
  color: white;
  font-size: 1rem;
}

.text a {
  background-color: #303131;
  border: none;
  color: rgb(255, 253, 253);
  padding: 6px 18px;
  text-align: center;
  font-size: 15px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  outline: none;
}
.text a:hover {
  opacity: 0.6;
  border: none;
  cursor: pointer;
}

text a:focus {
  outline: 0 !important;
}

.ui-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vmin;
  overflow: hidden;
  /* transform: skew(5deg); */
}
.ui-container .ui-card {
  flex: 1;
  transition: all 1s ease-in-out;
  height: 40vmin;
  position: relative;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}
.ui-container .ui-card .card__head {
  color: black;
  background: #b6e1ff;
  padding: 0.5em;
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  transition: all 0.5s ease-in-out;
  min-width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.2rem;
  white-space: nowrap;
}
.ui-container .ui-card:hover {
  flex-grow: 10;
}
.ui-container .ui-card:hover img {
  filter: grayscale(0);
}
.ui-container .ui-card:hover .card__head {
  text-align: center;
  top: calc(100% - 2em);
  color: white;
  background: rgba(86, 210, 248, 0.6);
  font-size: 2rem;
  transform: rotate(0deg) skew(-5deg);
}

/* .ui-container .ui-card:hover .fa-behance-square {
  font-size: 2em;
} */

.ui-container .ui-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease-in-out;
  /* filter: grayscale(70%); */
}
.ui-container .ui-card:not(:nth-child(5)) {
  margin-right: 1em;
}

.fa-behance-square:before {
  content: "\f1b5";
  font-size: 26px;
  color: #2415f6;
  margin-left: 4px;
}
.fa-pinterest:before {
  content: "\f0d2";
  font-size: 26px;
  color: red;
}

@media screen and (max-width: 500px) /* Mobile */ {
  .plane {
    position: relative;
    height: 85px;
    top: 30%;
  }
  .id {
    font-size: 3.3vw;
  }
  #con-svg,
  #cv-img,
  #about-svg {
    display: none;
  }

  .category-div {
    width: 100%;
    height: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* grid-gap: 7px; */
    grid-template-areas:
      /* "box1 box2"
      "box3 box4"
      "box5 box5"; */
      "box1 box3"
      "box4 box5";
  }

  .text p {
    color: white;
    font-size: 0.5rem;
  }

  .text a {
    background-color: #303131;
    border: none;
    color: rgb(255, 253, 253);
    padding: 6px 18px;
    text-align: center;
    font-size: 0.5rem;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    outline: none;
    /* box-shadow: 2px 2px 8px 0 rgba(83, 83, 83, 0.25),
      -0px -0px 4px 0 rgba(255, 255, 255, 0.3); */
  }

  .ui-container .ui-card .card__head {
    font-size: 0.8rem;
  }
  .ui-container .ui-card:hover .card__head {
    text-align: center;
    top: calc(100% - 2em);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    transform: rotate(0deg) skew(-5deg);
  }
  .fa-behance-square:before {
    content: "\f1b5";
    font-size: 16px;
    margin-left: 2px;
  }
  .fa-pinterest:before {
    content: "\f0d2";
    font-size: 16px;
    color: red;
  }
}

@media screen and (max-width: 1200px) /* Mobile */ {
  .plane {
    position: relative;
    height: 85px;
    top: 30%;
  }
  .id {
    font-size: 3.4vw;
  }
  #con-svg,
  #cv-img,
  #about-svg {
    display: none;
  }
  .name {
    color: rgb(250, 243, 243);
    font-size: 50px;
    padding-left: 15px;
  }

  .ui-container .ui-card .card__head {
    font-size: 0.6rem;
  }
  .ui-container .ui-card:hover .card__head {
    text-align: center;
    top: calc(100% - 2em);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    transform: rotate(0deg) skew(-5deg);
  }

  .fa-behance-square:before {
    content: "\f1b5";
    font-size: 16px;
    margin-left: 2px;
  }
  .fa-pinterest:before {
    content: "\f0d2";
    font-size: 16px;
    color: red;
  }
}
